app/app.zip
app/assets.zip
app/capsuula.woff
app/gorescript-deps.min.js
app/gorescript.min.js
app/index.html

desktop-build/

desktop/main.js
desktop/assets.zip
desktop/capsuula.woff
desktop/gorescript-deps.min.js
desktop/gorescript.min.js
desktop/index.html

dist/assets.zip
dist/capsuula.woff
dist/gorescript-deps.min.js
dist/gorescript.min.js
dist/index.html

report/
node_modules/
src/game/assets/
.DS_Store
*.sublime-project
*.sublime-workspace
