app/app.zip
app/assets.zip
app/capsuula.woff
app/gorescript-deps.min.js
app/gorescript.min.js
app/index.html

build/
node_modules/
src/game/assets/
src/server/iisnode/
src/server/assets.zip
.DS_Store