app/app.zip
app/assets.zip
app/capsuula.woff
app/gorescript-deps.min.js
app/gorescript.min.js
app/index.html

dist/
report/
node_modules/
src/game/assets/
.DS_Store
*.sublime-project
*.sublime-workspace
