* { box-sizing: border-box; -moz-box-sizing: border-box; 
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#download-output { overflow: auto; height: 290px; background-color: #cccccc; border: 1px solid #AAAAAB; display: none; 
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

body { margin: 0; padding: 0; background-color: #fff;}
canvas { position: fixed; cursor: default; }
#canvas-container { position: absolute; display: none;}
#menu-container { background-color: #DFDFDF; border-left: 1px solid #AAAAAB; 
				  font-family: Arial, Helvetica; font-size: 12px; display: none;}
.menu-inner { padding: 5px; }
.menu-label { clear: both; width: 135px; float: left; height: 30px; padding: 7px 10px 2px 2px; text-align: right; }
.menu-field { height: 30px; padding: 2px; font-size: 10px; }
.menu-field p { margin-top: 5px; display: inline-block; font-size: 12px; }
.menu-two-column-field { clear: both; height: 30px; padding: 2px; }
.menu-separator { border-bottom: 1px solid #AAAAAB; height: 17px; margin-bottom: 13px; }
#menu-container input[type=button], #menu-container input[type=file] { width: 100%; height: 100%; outline: none; }
#menu-container input[type=text] { outline: none; width: 125px; }
#menu-container input[type=checkbox] { margin-top: 7px; outline: none; }
.menu-double-row { height: 60px; }

.no-stretch-width { width: auto !important; }
.one-third-width { width: 32.5% !important; }
.one-half-width { width: 49.25% !important; }
.no-fixed-height { height: auto; }
.no-padding { padding: 0; }
.centered { text-align: center; }