* { box-sizing: border-box; -moz-box-sizing: border-box; 
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#download-output { overflow: auto; height: 290px; background-color: #cccccc; border: 1px solid #AAAAAB; display: none; 
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

body { margin: 0; padding: 0; background-color: #fff; }
canvas { position: fixed; cursor: default; }
#canvas-container { position: absolute; display: none; }
#menu-container { background-color: #DFDFDF; border-left: 1px solid #AAAAAB; 
				  font-family: Arial, Helvetica; font-size: 12px; display: none; }
.menu-inner { padding: 5px; }
.menu-label { clear: both; width: 135px; float: left; height: 30px; padding: 7px 10px 2px 2px; text-align: right; }
.menu-field { height: 30px; padding: 2px; font-size: 10px; }
.menu-field p { margin-top: 5px; display: inline-block; font-size: 12px; }
.menu-two-column-field { clear: both; height: 30px; padding: 2px; }
.menu-separator { border-bottom: 1px solid #AAAAAB; height: 5px; margin-bottom: 4px; }
#menu-container input[type=button], #menu-container input[type=file] { width: 100%; height: 100%; outline: none; }
#menu-container input[type=text], #menu-container select { outline: none; }
#menu-container input[type=text], #menu-container input[type=color] { width: 125px; }
#menu-container select { width: 100%; }
#menu-container input[type=checkbox] { margin-top: 7px; outline: none; }
.menu-double-row { height: 60px; }

.no-stretch-width { width: auto !important; }
.no-fixed-height { height: auto; }
.centered { text-align: center; }
.detail { display: none; }
.pos-textbox { width: 40px !important; }
.wide-label { width: 225px; }

#seg-tools-container { }
#point-tools-container { display: none; }
#sec-tools-container { display: none; }
#ntt-tools-container { display: none; }
#zone-tools-container { display: none; }

#player-start-pos-x { width: 50px; }
#player-start-pos-y { width: 50px; }

#radio-layer-ntt + label { margin-top: 5px; }
#radio-layer-zone + label { margin-top: 5px; }

#texture-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 1024px;
    margin: 20px auto;
}

.map-texture-img {
    width: 128px;
    height: 128px;
}

.map-texture-label > input[type=radio] {
    display: none;
}
.map-texture-radio + img {
    cursor: pointer;
    border: 2px solid transparent;
}
.map-texture-radio:checked + img {
    border: 2px solid #000;
}

#sec-selected-light-level { 
    width: 100px;
    margin-top: 8px;
    margin-right: 25px;
    float: right;
}

#sec-selected-light-level a { 
    outline: none;
}